body {
    background-color: #FFFFFF;
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

/* ================= HEADER =================*/
address {
    font-style: normal;
}

.logotype {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logotype-span {
    color: #2E2F42;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


.menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.info-menu {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}


.mail-tel {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    text-decoration: none;
}

.mail-tel:hover,
.mail-tel:focus {
    color: #404bbf;
}



/* ================= /HEADER =================*/

/*================ HEROY ================*/
.heroy {
    background: #2E2F42;
}

.heroy-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.heroy-service {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    color: white;
}

.heroy-service:hover,
.heroy-service:focus {
    background-color: #404BBF;
}

/*================ /HEROY ================*/


/*================= TITLE =================*/
.title {
    font-family: "Roboto" sans-serif;
}

.title-menu-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.title-menu-desc {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*================= /TITLE =================*/


/*================= CADR =================== */
.card {
    background-color: #F4F4FD;
}

.header {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.card-people-name {
    color: #2E2F42;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.card-people-skils {
    color: #434455;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*================= /CADR =================== */


/*================= PORTFOLIO ==========================*/
.header-portfolio {
    line-height: 1.11;
}

.portfolio-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-descr {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.small {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*================= /PORTFOLIO ==========================*/


/*================= FOOTER ======================*/
.end-page {
    background-color: #2e2f42;
}

.logotype-end {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logotype-span-end {
    color: #f4f4fd;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}





/*================= /FOOTER ======================*/